<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.2.0" package="com.mertwole.papigami" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="28" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:allowBackup="true" android:icon="@mipmap/ic_launcher_round" android:label="Papigami" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/AppTheme">
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3824185688302776~6278298542" />
	</application>
</manifest>